[core]
	editor = \"C:\\Users\\MAHESH\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[gui]
	recentrepo = E:/works/jobboost-v1
[user]
	name = Amit7976
	email = guptaamit60600@gmail.com
